<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
    <defaultcontrol always="true">300</defaultcontrol>
    <onload condition="!String.IsEqual(Window(Home).Property(FromSettings),1)">ActivateWindow(InterfaceSettings)</onload>
    <include>Defs_SettingsOnload</include>
    <controls>
        <include>GlobalSettingsBackground</include>
        <include>Topbar</include>
        <include>Bottombar</include>
        <include>Furniture_Clock</include>
    </controls>
</window>
